* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

.app {
  display: grid;
  grid-template-rows: 150px auto 1fr;
  min-height: 100%;
}

ol {
  list-style: none;
}

