/* header.css */
header {
  background-color: #fff;
  color: #222;
  grid-row: 1;
  height: 150px;
  padding: 20px;
  text-align: center;
}

.app-title {
  font-size: 1.5em;
  text-align: center;
}

#current-temp {
  font-size: 200%;
}

abbr[title] {
  text-decoration: none;
}

