* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

.app {
  display: grid;
  grid-template-rows: 150px 150px 1fr;
  min-height: 100%;
}

header {
  background-color: #222;
  color: white;
  grid-row: 1;
  height: 150px;
  padding: 20px;
}

.app-title {
  font-size: 1.5em;
  text-align: center;
}

ol {
  list-style: none;
}

#tabs {
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  grid-auto-flow: row;
  grid-row: 2;
}

#tabs > li:first-child {
  grid-column: 1;
}

#tabs > li:last-child {
  grid-column: 5;
}

.tab {
  align-self: center;
  justify-self: center;
}

#tab-panels {
  align-self: center;
  grid-row: 3;
  justify-self: center;
}

#tab-panels > li {
  display: none;
}

#tab-panels > li:target {
  display: block;
}

